<!-- FOOTER -->
<footer id="footer" class="footer-light">
  <div class="copyright has-social">
    <div class="container">

        <!-- Social Icons -->
  			<div class="float-right">
  				<a href="https://www.facebook.com/%EC%9E%BC%ED%83%80%EC%BF%A0-143745799739164/" class="social-icon social-icon-sm social-icon-transparent social-facebook" data-toggle="tooltip" data-placement="top" title="Facebook">
  					<i class="icon-facebook"></i>
  					<i class="icon-facebook"></i>
  				</a>

  				<a href="https://solwish.github.io/" class="social-icon social-icon-sm social-icon-transparent social-github" data-toggle="tooltip" data-placement="top" title="Github">
  					<i class="icon-github"></i>
  					<i class="icon-github"></i>
  				</a>

  				<!-- <a href="#" class="social-icon social-icon-sm social-icon-transparent social-gplus" data-toggle="tooltip" data-placement="top" title="Google plus">
  					<i class="icon-gplus"></i>
  					<i class="icon-gplus"></i>
  				</a>

  				<a href="#" class="social-icon social-icon-sm social-icon-transparent social-linkedin" data-toggle="tooltip" data-placement="top" title="Linkedin">
  					<i class="icon-linkedin"></i>
  					<i class="icon-linkedin"></i>
  				</a>

  				<a href="#" class="social-icon social-icon-sm social-icon-transparent social-rss" data-toggle="tooltip" data-placement="top" title="Rss">
  					<i class="icon-rss"></i>
  					<i class="icon-rss"></i>
  				</a> -->
  			</div>
  			<!-- /Social Icons -->

      <div class="copyright-text float-left">
        &copy; All Rights Reserved, Gemtaku
      </div>
    </div>
  </div>

</footer>
<!-- /FOOTER -->


<!-- SCROLL TO TOP -->
<a href="#" id="toTop"></a>
