<!-- <h2 class="text-center">Log in</h2> -->
<%#= render "devise/shared/links" %>


<div class="container" align="center">

  <!-- LOGIN -->
  <div class="col-md-4 col-sm-5">

    <!--
    <div class="alert alert-mini alert-danger mb-30">
      <strong>Oh snap!</strong> Login Incorrect!
    </div>
    -->

    <div class="box-static box-transparent box-bordered p-30">
      <div class="box-title mb-30">
        <h2 class="fs-20">Log in</h2>
      </div>
      <div class="text-center">
        <a class="btn btn-block btn-social btn-facebook mt-10" href="/users/auth/facebook">
          <i class="fa fa-facebook"></i> Sign in with Facebook
        </a>
        <a class="btn btn-block mt-10 btn-social text-white img-hover" href="/users/auth/naver" style="background-color:#1EC800">
          <img src="/images/naver.png" alt=""></img> Sign in with NAVER
        </a>
        <!-- <a class="btn btn-block btn-social btn-twitter mt-10">
          <i class="fa fa-twitter"></i> Sign in with Twitter
        </a> -->

      </div>
      <hr />
      <div class="mb-20">&ndash; OR &ndash;</div>

      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <%= f.error_notification %>
        <div class="clearfix text-left">

          <!-- Email -->
          <%= f.input :email, required: false, autofocus: true, class: "form-control" %>

          <!-- Password -->
          <%= f.input :password, required: false, class: "form-control" %>

        </div>

        <div class="row">

          <div class="col-md-6 col-sm-6 col-xs-6">

            <!-- Inform Tip -->
            <div class="form-tip pt-20 text-left">
              <a class="no-text-decoration fs-13 mt-10 block" href="/users/password/new">Forgot Password?</a>
              <a class="no-text-decoration fs-13 mt-10 block" href="/users/sign_up">Sign up</a>
            </div>

          </div>

          <div class="col-md-6 col-sm-6 col-xs-6 text-right">

            <button class="btn btn-primary btn-sm"><i class="fa fa-check"></i> LOGIN</button>

          </div>
          <div class="col-md-12 col-sm-12 col-xs-12 text-left">
            <a class="no-text-decoration fs-13 mt-10 block" href="/users/confirmation/new">Didn&#39;t receive confirmation?</a>
          </div>
        </div>
        <% end %>
      <!-- </form> -->

      <!-- <div class="text-center">
        <div class="mb-20">&ndash; OR &ndash;</div>

        <a class="btn btn-block btn-social btn-facebook mt-10" href="/users/auth/facebook">
          <i class="fa fa-facebook"></i> Sign in with Facebook
        </a>
        <a class="btn btn-block mt-10 btn-social text-white img-hover" href="/users/auth/naver" style="background-color:#1EC800">
          <img src="/images/naver.png" alt=""></img> Sign in with NAVER
        </a>

      </div> -->

    </div>

  </div>
  <!-- /LOGIN -->

</div>
